/*
Nav
-------------------------------------------
*/

.c-nav {
    z-index: 9;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: var(--color-component--lightgray);
    outline: 1px solid var(--color-component--gray);
    border-top-left-radius: var(--space--xxl);
    border-top-right-radius: var(--space--xxl);
    mix-blend-mode: difference;
    backdrop-filter: blur(4px) saturate(180%);
}

.c-nav__list {
    display: grid;
    grid-row-gap: var(--space--lg);
    justify-content: center;
    align-items: baseline;
    padding: var(--space--xxl) var(--space);
}

.c-nav__list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--space--xs);
    justify-content: center;
    color: var(--color-text);
}

.c-nav__list__item:active,
.c-nav__list__item:focus-visible {
    color: var(--color-primary);
}

.c-nav__list__item-title {
    font-size: var(--font-size--sm);
    text-align: center;
}


/* Responsive Styles */
@media (min-width: 600px) {
    .c-nav {
        z-index: 9;
        position: fixed;
        top: 0;
        bottom: auto;
        left: 0;
        width: fit-content;
        height: fit-content;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: var(--space--xxl);
        mix-blend-mode: difference;
        backdrop-filter: blur(4px) saturate(180%);
    }

    .c-nav__list {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: var(--space--lg);
    }
}

@media (min-width: 1000px) {}

@media (min-width: 1440px) {}