/*
Footer
-------------------------------------------
*/

.c-footer {
    display: flex;
    flex-direction: column;
}

.c-footer__quote {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
    padding: var(--space--xxl) var(--space--xxxl);
    background-color: var(--color-component--white);
    border-bottom-right-radius: 20rem;

    .c-heading {
        color: var(--color-component--darkgray);
        font-style: italic;
        margin: 0;
    }

    svg {
        display: none;
        fill: var(--color-primary);
        transform: translateY(-125%) scale(1.5);
    }
}

.c-footer__grid {
    display: flex;
    flex-direction: column;
    row-gap: var(--space--lg);
    justify-content: center;
    align-items: center;
    margin-bottom: 125px;
}

.c-footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: var(--space--sm);

    a {
        padding: var(--space--sm);
    }
}

.c-footer__copyright {
    .c-text {
        text-align: center;
        color: var(--color-component--darkgray);
        margin: 0;
    }
}

/* Responsive Styles */
@media (min-width: 600px) {}

@media (min-width: 1000px) {
    .c-footer__quote {
        svg {
            display: block;
        }
    }
    .c-footer__grid {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0;
    }
}

@media (min-width: 1440px) {}