/*
Footer
-------------------------------------------
*/

.c-footer {
    display: flex;
    flex-direction: column;
}

.c-footer__quote {
    display: none;

    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    column-gap: 7px;
    padding: var(--space) 0;

    .c-heading {
        color: var(--color-component--darkgray);
        font-style: italic;
        margin: 0;
    }

    svg {
        order: -1;
        fill: var(--color-primary);
        transform: translateY(-77%) scale(1.33);
    }
}

.c-footer__container {
    margin: var(--space) auto !important;
}

.c-footer__grid {
    display: flex;
    flex-direction: column;
    row-gap: var(--space--xs);
    justify-content: center;
    align-items: center;
}

.c-footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: var(--space--sm);

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--space--sm);
        border-radius: var(--space--xs);
        background-color: transparent;
        transition: var(--transition);
    }

    a:hover,
    a:active,
    a:focus-visible {
        background-color: var(--color-primary--33);
    }
}

.c-footer__copyright {
    padding-bottom: 85px;

    .c-text {
        font-size: var(--font-size--sm);
        text-align: center;
        color: var(--color-component--darkgray);
        margin: 0;
    }
}

/* Responsive Styles */
@media (min-width: 600px) {
    .c-footer__quote {
        display: flex;
        flex-direction: row;

        svg {
            order: 1;
        }
    }

    .c-footer__grid {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 0;
    }

    .c-footer__copyright {
        padding-bottom: 70px;
    }
}

@media (min-width: 1000px) {
    .c-footer__copyright {
        padding-bottom: 0;
    }
}

@media (min-width: 1440px) {}