/*
Footer
-------------------------------------------
*/

.c-footer {
    display: flex;
    flex-direction: column;
    row-gap: var(--space--xl);
}

.c-footer__quote {
    .c-heading {
        font-style: italic
    }

    ;
}

.c-footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: var(--space--sm);

    a {
        padding: var(--space--sm);
    }
}

.c-footer__copyright {
    .c-text {
        text-align: center;
        color: var(--color-component--darkgray);
    }
}