/*
Grids
-------------------------------------------
*/

.c-grid {
    display: grid;
    grid-row-gap: var(--space);
}

/* Responsive Styles */
@media (min-width: 600px) {
    .c-grid {
        grid-column-gap: var(--space);
    }

    .c-grid--66 {
        grid-template-columns: repeat(2, 1fr);
    }

    .c-grid--444 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1000px) {}

@media (min-width: 1440px) {}