/*
Footer
-------------------------------------------
*/

.c-footer {
    padding: var(--space--xxl) 0 var(--space--xxxl) 0;
    background-color: var(--color-component--black);

    .container {
        margin: 0;
    }
}