/*
Page CSS
-------------------------------------------
*/
:root {
    --container: 1000px;
    --container--full: 100%;
    --container--sm: 800px;
    --container--lg: 1200px;

    --color-component--white: #ffffff;
    --color-component--lightgray: #f9f9f9;
    --color-component--gray: #f3f3f3;
    --color-component--darkgray: #606067;
    --color-component--black: #202025;

    --color-text: var(--color-component--black);
    --color-text--inverted: var(--color-component--white);

    --color-primary: rgb(18, 231, 107);
    --color-primary--66: rgba(18, 231, 107, 66%);
    --color-primary--50: rgba(18, 231, 107, 50%);
    --color-primary--33: rgba(18, 231, 107, 33%);

    --font-size: 14px;
    --font-size--sm: 10px;
    --font-size--lg: 18px;
    --font-size--xl: 24px;

    --font-size--heading: 36px;
    --font-size--heading--h2: 32px;
    --font-size--heading--h3: 28px;
    --font-size--heading--h4: 22px;

    --space: 1rem;
    --space--xs: 0.33rem;
    --space--sm: 0.66rem;
    --space--lg: 1.33rem;
    --space--xl: 1.66rem;
    --space--xxl: 2rem;
    --space--xxxl: 4rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}

:focus-visible {
    outline: 2px solid var(--color-primary);
}

img {
    pointer-events: none;
    filter: grayscale(1);
}

a,
button,
[role="button"],
[tabindex] {
    -webkit-tap-highlight-color: transparent;
}

/* Responsive Styles */
@media (min-width: 600px) {}

@media (min-width: 1000px) {}

@media (min-width: 1440px) {}