/*
Page CSS
-------------------------------------------
*/
:root {
    --bp--tablet: 600px;
    --bp--laptop: 1200px;
    --bp--desktop: 1440px;

    --color-component--white: #fafaff;
    --color-component--gray: #33333a;
    --color-component--black: #0a0a0a;

    --color-text: var(--color-component--black);
    --color-text-invert: var(--color-component--white);

    --color-primary: rgba(231, 18, 202, 100%);
    --color-primary--66: rgba(231, 18, 202, 66%);
    --color-primary--50: rgba(231, 18, 202, 50%);
    --color-primary--33: rgba(231, 18, 202, 33%);

    --font-size: 14px;
    --font-size--sm: 10px;
    --font-size--lg: 18px;
    --font-size--xl: 24px;

    --font-size--heading: 56px;
    --font-size--heading--h2: 32px;
    --font-size--heading--h3: 24px;

    --space: 1rem;
    --space--xs: 0.33rem;
    --space--sm: 0.66rem;
    --space--lg: 1.33rem;
    --sapce--xl: 1.66rem;
    --space--xxl: 2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Responsive Styles */
@media only screen and (min-width: var(--bp--tablet)) {

}
@media only screen and (min-width: var(--bp--laptop)) {

}
@media only screen and (min-width: var(--bp--desktop)) {

}