/*
General
-------------------------------------------
*/
:root {
    --container: 1000px;
    --container--full: 100%;
    --container--sm: 800px;
    --container--lg: 1200px;

    --p66: 0.66;
    --p33: 0.33;

    --color-component--white: rgb(255, 255, 255);
    --color-component--white--66: rgba(255, 255, 255, var(--p66));
    --color-component--white--33: rgba(255, 255, 255, var(--p33));

    --color-component--lightgray: rgb(249, 249, 249);
    --color-component--gray: rgb(243, 243, 243);
    --color-component--darkgray: rgb(96, 96, 103);

    --color-component--black: rgb(32, 32, 37);
    --color-component--black--66: rgba(32, 32, 37, var(--p66));
    --color-component--black--33: rgba(32, 32, 37, var(--p33));

    --color-text: var(--color-component--black);
    --color-text--inverted: var(--color-component--white);

    --color-primary: rgb(18, 231, 107);
    --color-primary--66: rgba(18, 231, 107, var(--p66));
    --color-primary--33: rgba(18, 231, 107, var(--p33));

    --font-size: 14px;
    --font-size--sm: 10px;
    --font-size--lg: 18px;
    --font-size--xl: 24px;

    --font-size--heading: 36px;
    --font-size--heading--h2: 32px;
    --font-size--heading--h3: 28px;
    --font-size--heading--h4: 22px;

    --space: 1rem;
    --space--xs: 0.33rem;
    --space--sm: 0.66rem;
    --space--lg: 1.33rem;
    --space--xl: 1.66rem;
    --space--xxl: 2rem;
    --space--xxxl: 4rem;

    --transition: all 150ms ease-in-out;
}

::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}

:focus-visible {
    outline: 2px solid var(--color-primary--66);
}

img {
    filter: grayscale(1);
}

a,
button,
input,
[role="button"],
[tabindex] {
    -webkit-tap-highlight-color: transparent;
}

/* Responsive Styles */
@media (min-width: 600px) {}

@media (min-width: 1000px) {}

@media (min-width: 1440px) {}