/*
Typography
-------------------------------------------
*/

/*
Headlines
-------------------------------------------
*/
.c-heading {
    color: var(--color-text);
    font-weight: 700;
    font-style: normal;
    margin-bottom: var(--space);
}

.c-heading--has-subheading {
    margin-bottom: 0;
}

.c-heading--h1 {
    font-size: var(--font-size--heading);
    margin-bottom: var(--space--lg);
}

.c-heading--h2 {
    font-size: var(--font-size--heading--h2);
}

.c-heading--h3 {
    font-size: var(--font-size--heading--h3);
}

.c-heading--h4 {
    font-size: var(--font-size--heading--h4);
}


/*
Subheadlines
-------------------------------------------
*/
.c-subheading {
    color: var(--color-text);
    font-weight: 600;
    font-style: normal;
    margin-bottom: var(--space--sm);
}

.c-subheading--h2 {
    font-size: var(--font-size--heading--h3);
}

.c-subheading--h3 {
    font-size: var(--font-size--heading--h4);
}

/*
Paragraphs
-------------------------------------------
*/
.c-text {
    color: var(--color-text);
    font-size: var(--font-size);
    line-height: 1.66;
    margin-bottom: var(--space--xxl);
}

.c-text--sm {
    font-size: var(--font-size--sm);
    margin-bottom: var(--space);
}

.c-text--muted {
    color: var(--color-component--darkgray);
}

.c-text--center {
    max-width: 100% !important;
    text-align: center;
}

.inverted {
    h1,
    h2,
    h3,
    p,
    li {
        color: var(--color-text--inverted);
    }
}

/*
Links
-------------------------------------------
*/
a {
    color: var(--color-primary);
    text-decoration: none;
}

a:focus-visible {
    text-decoration: solid;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}