/*
Typography
-------------------------------------------
*/

/*
Headlines
-------------------------------------------
*/
.c-heading {
    color: var(--color-text);
    font-weight: 700;
    font-style: normal;
    margin-bottom: var(--space);
}

.c-heading--has-subheading {
    margin-bottom: 0;
}

.c-heading--h1 {
    font-size: var(--font-size--heading);
}

.c-heading--h2 {
    font-size: var(--font-size--heading--h2);
}

.c-heading--h3 {
    font-size: var(--font-size--heading--h3);
}


/*
Subheadlines
-------------------------------------------
*/
.c-subheading {
    color: var(--color-text);
    font-weight: 600;
    font-style: normal;
    margin-bottom: var(--space--sm);
}

.c-subheading--h2 {
    font-size: var(--font-size--heading--h3);
}

.c-subheading--h3 {
    font-size: var(--font-size--heading--h4);
}

/*
Paragraphs
-------------------------------------------
*/
.c-text {
    color: var(--color-text);
    font-size: var(--font-size);
    line-height: 1.66;
    margin-bottom: var(--space--xxl);
}

.inverted {
    h1,
    h2,
    h3,
    p,
    li {
        color: var(--color-text--inverted);
    }
}