/*
Typography
-------------------------------------------
*/

/*
Headlines
-------------------------------------------
*/
.c-heading {
    font-weight: 700;
    font-style: normal;
    margin-bottom: var(--space);
}

.c-heading--has-subheading {
    margin-bottom: 0;
}

.c-heading--h1 {
    font-size: var(--font-size--heading);
}

.c-heading--h2 {
    font-size: var(--font-size--heading--h2);
}

.c-heading--h3 {
    font-size: var(--font-size--heading--h3);
}


/*
Subheadlines
-------------------------------------------
*/
.c-subheading {
    font-weight: 600;
    font-style: normal;
    margin-bottom: var(--space--sm);
}

.c-subheading--h2 {
    font-size: var(--font-size--heading--h2) * 0.66;
}

.c-subheading--h3 {
    font-size: var(--font-size--heading--h3) * 0.66;
}

.c-subheading--h4 {
    font-size: var(--font-size--heading--h4) * 0.66;
}

/*
Paragraphs
-------------------------------------------
*/
.c-text {
    color: var(--color-text);
    font-size: var(--font-size);
    margin-bottom: var(--space-xxl);
}

.c-text--inverted {
    color: var(--color-text--inverted);
}