/*
Buttons
-------------------------------------------
*/

.c-btn {
    cursor: pointer;
    width: fit-content;
    background-color: var(--color-component--black);
    border: none;
    border-radius: var(--space--xs);
    padding: var(--space--sm) var(--space);
    font-size: var(--font-size);
    font-weight: 300;
    color: var(--color-component--white);
    line-height: 1;
    text-decoration: none;
}

.c-btn--inverted {
    background-color: var(--color-component--white);
    color: var(--color-text);
}

.c-btn:active {
    background-color: var(--color-primary);
    color: var(--color-component--black);
}