/*
Buttons
-------------------------------------------
*/

.c-btn {
    cursor: pointer;
    display: block;
    width: fit-content;
    background-color: var(--color-component--black);
    border: none;
    border-radius: var(--space--xs);
    padding: var(--space--sm) var(--space);
    font-size: var(--font-size);
    font-weight: 400;
    color: var(--color-component--white);
    line-height: 1;
    transition: var(--transition);
}

/* Inverted */
.c-btn--inverted {
    background-color: var(--color-component--white);
    color: var(--color-text);
}

/* Primary */
.c-btn--primary {
    background-color: var(--color-primary);
    color: var(--color-text);
}