/*
Buttonbar
-------------------------------------------
*/

.c-btnbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    column-gap: var(--space--sm);
    row-gap: var(--space--sm);
}

.c-btnbar--center {
    justify-content: center;
}