/*
Lightbox
-------------------------------------------
*/

.c-lightbox {
    overflow: hidden;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.c-lightbox__img {
    justify-self: center;
    align-self: center;
    max-width: 90%;
    max-height: 80%;
    border: 3px solid var(--color-component--black);
}

.c-lightbox__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space);
    background-color: var(--color-component--black);
    color: var(--color-primary);
    font-size: var(--font-size--xl);
    font-weight: 700;
    line-height: 1;
}

.c-lightbox__arrow--prev {
    border-top-left-radius: var(--space--sm);
    border-bottom-left-radius: var(--space--sm);
}

.c-lightbox__arrow--next {
    border-top-right-radius: var(--space--sm);
    border-bottom-right-radius: var(--space--sm);
}

.c-lightbox__close {
    cursor: pointer;
    position: fixed;
    top: var(--space--xl);
    right: var(--space--xl);
    font-size: var(--font-size--xl);
    font-weight: 700;
    color: var(--color-primary);
}