/*
Loading
-------------------------------------------
*/

.c-loading {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-component--white);
    backdrop-filter: saturate(180%) blur(10px);
    animation: loading forwards 1500ms ease-in-out;
    animation-delay: 500ms;
}

@keyframes loading {
    from {
        background-color: var(--color-component--white);
        opacity: 1;

    }
    to {
        background-color: var(--color-component--white--66);
        opacity: 0;
        display: none;
        pointer-events: none;
    }
}