/*
Messages
-------------------------------------------
*/

.c-message {
    z-index: 8;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--space--sm);
    width: 80%;
    height: fit-content;
    padding: var(--space) var(--space--xl);
    outline: 1px solid var(--color-component--gray);
    border-bottom-left-radius: var(--space--xl);
    border-bottom-right-radius: var(--space--xl);
    background-color: var(--color-component--lightgray);
    color: var(--color-component--black);

    p {
        font-size: var(--font-size);
    }
}

/* Responsive Styles */
@media (min-width: 600px) {
    .c-message {
        width: fit-content;
    }
}

@media (min-width: 1000px) {}

@media (min-width: 1440px) {}