/*
Messages
-------------------------------------------
*/

.c-message {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: var(--space--xs);
    width: 100%;
    height: fit-content;
    padding: var(--space--sm) var(--space--xl);
    border-bottom: 1px solid var(--color-component--darkgray);
    background-color: var(--color-component--black);
    color: var(--color-primary--66);
    transition: var(--transition);
    animation: messages 2000ms infinite ease;

    p {
        color: var(--color-component--darkgray);
        font-size: var(--font-size);
    }
}

@keyframes messages {
    0% {
        color: var(--color-primary--66);
    }

    33% {
        color: var(--color-primary);
    }

    66% {
        color: var(--color-primary);
    }

    100% {
        color: var(--color-primary--66);
    }
}