/*
Messages
-------------------------------------------
*/

.c-message {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: var(--space--xs);
    width: 100%;
    height: fit-content;
    padding: var(--space--sm) var(--space--xl);
    border-bottom: 1px solid var(--color-component--darkgray);
    background-color: var(--color-component--black);
    color: var(--color-component--white);

    p {
        color: var(--color-primary);
        font-size: var(--font-size);
    }
}