/*
Modals
-------------------------------------------
*/

.c-modal {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-component--black--66);
}

.c-modal__content {
    overflow-y: scroll;
    max-height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--space--xl);
    background-color: var(--color-component--white);
    outline: 1px solid var(--color-component--gray);
    border-bottom-left-radius: var(--space--xxl);
    border-bottom-right-radius: var(--space-xxl);
    backdrop-filter: blur(12px) saturate(180%);

    > .c-text {
        margin-bottom: var(--space--lg);
    }
}

.c-modal__blur {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--space);
    background-color: var(--color-component--white--22);
    backdrop-filter: blur(4px);
}

/* Responsive Styles */
@media (min-width: 600px) {}

@media (min-width: 1000px) {
    .c-modal__content {
        left: 50%;
        transform: translateX(-50%);
        min-width: 66%;
        max-width: 66%;
    }
}

@media (min-width: 1440px) {}