/*
Overlay
-------------------------------------------
*/

.c-overlay {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.c-overlay__image {
    border-bottom-left-radius: var(--space--xxl);
    border-bottom-right-radius: var(--space--xxl);
}

.c-overlay__content {
    position: absolute;
    width: 100%;
    height: auto;
    margin: var(--space--xxl) auto;
    padding: 0 var(--space--xxl);
    bottom: 0;
    left: 0;

    h1,
    h2,
    h3,
    p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-shadow: 1px 1px 3px var(--color-component--black);
    }
}

/* Responsive Styles */
@media (min-width: 600px) {}

@media (min-width: 1000px) {
    .c-overlay__image {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 20rem;
    }

    .c-overlay__content {
        width: var(--container);
        left: 50%;
        transform: translateX(-50%);

        p {
            max-width: 80%;
        }

        h1,
        h2,
        h3,
        p {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}

@media (min-width: 1440px) {}