/*
Overlay
-------------------------------------------
*/

.c-overlay {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.c-overlay__image {
    border-bottom-left-radius: var(--space--xxl);
    border-bottom-right-radius: var(--space--xxl);
}

.c-overlay__content {
    position: absolute;
    width: 100%;
    height: auto;
    margin: var(--space--xxl) auto;
    padding: 0 var(--space--xxl);
    bottom: 0;
    left: 0;
}

/* Responsive Styles */
@media (min-width: 600px) {}

@media (min-width: 1000px) {
    .c-overlay__image {
        border-bottom-left-radius: var(--space--xxxl);
        border-bottom-right-radius: var(--space--xxxl);
    }

    .c-overlay__content {
        width: var(--container);
        left: 50%;
        transform: translateX(-50%);

        p {
            max-width: 80%;
        }
    }
}

@media (min-width: 1440px) {}