/*
Overlay
-------------------------------------------
*/

.c-overlay {
    width: 100%;
    height: auto;
    position: relative;
}

.c-overlay__image {
    
}

.c-overlay__content {
    position: absolute;
    top: 0;
    left: 0;
}