/*
Slider
-------------------------------------------
*/

.c-slider {}

.c-slider__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--space) 0;
}

.c-slider__arrows {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    column-gap: var(--space--xs);
}

.c-slider__dots {}


/* Slick CSS Overwrite */
.slick-arrows {
    .slick-prex,
    .slick-next {
        transition: all 300ms ease;
    }
    .slick-disabled {
        pointer-events: none;
        opacity: 0.3;
    }
}

.slick-dots {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    column-gap: var(--space--xs);
    justify-content: space-between;
    align-items: center;

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li.slick-active > button {
        background-color: var(--color-primary);
        color: var(--color-component--black);
    }

    li > button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--space);
        height: var(--space);
        padding: var(--space);
        border: none;
        border-radius: 2px;
        background-color: var(--color-component--lightgray);
        color: var(--color-component--white);
    }
}