/*
Slider
-------------------------------------------
*/

.c-slider {}

.c-slider__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--space--lg) 0;
}

.c-slider__arrows {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    column-gap: var(--space--xs);
}

.c-slider__dots {}


/* Slick CSS Overwrite */
.slick-track {
    display: flex;
}

.slick-slide {
    padding: 0 var(--space) 0 0;
}

.slick-slide:last-of-type {
    padding: 0;
}

.slick-arrows {

    .slick-prev,
    .slick-next {
        line-height: 1;
        transition: var(--transition);
    }

    .slick-disabled {
        pointer-events: none;
        opacity: 0.3;
    }
}

.slick-dots {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    column-gap: var(--space--sm);
    justify-content: space-between;
    align-items: center;

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li.slick-active>button {
        pointer-events: none;
        cursor: default;
        background-color: var(--color-component--black);
        color: var(--color-component--white);
    }

    li>button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--space--sm);
        height: var(--space--sm);
        padding: var(--space--sm);
        border: none;
        border-radius: 4px;
        background-color: var(--color-component--gray);
        color: var(--color-component--black);
    }
}

/* Responsive Styles */
@media (min-width: 600px) {}

@media (min-width: 1000px) {}

@media (min-width: 1440px) {}