/*
Switch
-------------------------------------------
*/

.c-switch {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    column-gap: var(--space);
    width: 100%;
    padding: 0 var(--space--lg);
    margin-bottom: var(--space--lg);
    -webkit-tap-highlight-color: transparent;
}

.c-switch input[type="checkbox"] {
    display: none;
}

.c-switch-slider {
    position: relative;
    width: 56px;
    height: var(--space--lg);
    background-color: var(--color-component--gray);
    border-radius: var(--space--xxl);
    transition: var(--transition);
}

.c-switch-slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    width: var(--space--lg);
    height: var(--space--lg);
    background-color: var(--color-component--darkgray);
    outline: 2px solid var(--color-component--white);
    border-radius: var(--space--xxl);
    ;
    transition: var(--transition);
}

.c-switch input[type="checkbox"]:checked+.c-switch-slider {
    background-color: var(--color-primary--33);
}

.c-switch input[type="checkbox"]:checked+.c-switch-slider::before {
    left: auto;
    right: 0;
    background-color: var(--color-primary);
}

.c-switch-label {
    font-size: var(--font-size);
    color: var(--color-text);
    margin: 0;
}