/*
Toast
-------------------------------------------
*/

.c-toast {
    z-index: 10;
    position: fixed;
    top: var(--space--lg);
    right: var(--space--lg);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--space--xs);
    background-color: var(--color-component--lightgray);
    padding: var(--space--sm) var(--space);
    border-radius: var(--space--xs);
    color: var(--color-primary);
    font-size: var(--font-size);
    backdrop-filter: blur(4px) saturate(180%);
    transition: var(--transition);

    >span {
        color: var(--color-text);
    }
}