/*
Toast
-------------------------------------------
*/

.c-toast {
    z-index: 10;
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--space--xs);
    width: fit-content;
    background-color: var(--color-component--lightgray);
    padding: var(--space--sm) var(--space);
    outline: 1px solid var(--color-component--gray);
    border-radius: var(--space--xs);
    color: var(--color-primary);
    font-size: var(--font-size);
    backdrop-filter: blur(4px) saturate(180%);
    transition: var(--transition);

    >span {
        color: var(--color-text);
    }
}

/* Responsive Styles */
@media (min-width: 600px) {
    .c-toast {
        top: var(--space--lg);
        bottom: auto;
        right: var(--space--lg);
        left: auto;
        transform: none;
    }
}

@media (min-width: 1000px) {}

@media (min-width: 1440px) {}